.App {
  text-align: center;
}


/* App.css */
.main-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color:white;
}

.show-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:10px;
  gap: 20px;
  backdrop-filter: blur(50px);
}

.show-card {
  background-color: rgba(18, 24, 24, 0.664);
  /* backdrop-filter: blur(10px); */
  box-shadow:0 blue;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.show-summary {
  background-color: pink;
  padding: 20px;
  border-radius: 5px;
  width: 600px;
  text-align: center;
}

button {
  /* margin-top: 10px; */
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
